	<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @shit.content %>
</p>


<%= link_to 'Edit', edit_admin_shit_path(@shit) %> |
<%= link_to 'All of Pedro\'s Shit', admin_shits_path %>
