<h1>Shit Pedro Says</h1>

<script type="text/x-handlebars" data-template-name="shits">
  <ul id="todo-list">
  {{#each}}
    <li>
      <p>{{content}}</p>
    </li>
  {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="shit">
    {{ content.content }}
</script>
