<h1>Shit Pedro Says</h1>

<table>
  <tbody>
    <% @shits.each do |shit| %>
      <tr>
        <td><a href="/shits/<%= shit.id %>"><%= shit.content %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>