<section>
  <h1>Shit Pedro Says</h1>
  <div class="forNoJs">
    <%= simple_format(@shit.content) %>
    <p><%= link_to("Previous", @shit.prev) if @shit.prev %></p>
    <p><%= link_to("Next", @shit.next) if @shit.next %></p>
  </div>
  <div id="shit">
  </div>
</section>

<% content_for :jsapp do %>
<script type="text/javascript">

  $(function() {

    new ShitPedroSays.Views.Heading.ShowView( { el : $('h1') });
    new ShitPedroSays.Views.AboutView( { el : $('#about') });
    window.portrait = ((window.innerHeight / window.innerWidth) > 1.15);
    window.router = new ShitPedroSays.Routers.ShitsRouter({shits: <%= @shits.shuffle.to_json.html_safe -%>});
    Backbone.history.start( { pushState : true });
  });
</script>
<% end %>