<h1>New shit</h1>

<form id="new-shit" name="shit">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Shit" />
  </div>

</form>

<a href="#/index">Back</a>